{% extends 'base/base.html' %}
{% block extcss %}
    <link rel="stylesheet" href="/static/cart/css/cart.css">


{% endblock %}
{% block extjs %}
    <script src="/static/cart/js/cart.js"></script>
{% endblock %}
{% block content %}
   <div class="cart">
        <ul>
            {% for cart in carts %}
                <li class="goods">
                    <div class="confirm-wrapper" isid="{{ cart.id }}">

                        {% if cart.isselect %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="no"></span>
                        {% endif %}
                    </div>
                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{{ cart.goodid.productimg }}" alt="">
                        </div>
                        <div class="detail">
                            <p class="name">
                                {{ cart.goodid.productlongname }}
                            </p>
                            <p class="price" str="{{ cart.goodid.marketprice }}">
                                ￥{{ cart.goodid.marketprice }}
                            </p>
                            <p class="num" str="{{ cart.num }}">
                                x{{ cart.num }}
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="bill">
            <div class="bill-left">
                <div class="all" isall="false">
                    <span class="no"></span>
                    <b>全选</b>
                </div>
                <div class="total">
                    <span>总计:￥</span>
                    <b>0</b>
                </div>
            </div>
            <div class="bill-right">
                下单
            </div>
        </div>
    </div>

{% endblock %}